<div class="background">
  <div class="register_card">
    <div class="first_name">
      <label for="first_name"
             class="label">
        First name
      </label>
      <input class="input"
             type="text"
             id="first_name">
    </div>
    <div class="last_name">
      <label for="last_name"
             class="label">
        Last name
      </label>
      <input class="input"
             type="text"
             id="last_name">
    </div>
    <div class="email">
      <label for="email"
             class="label">
        Email
      </label>
      <input class="input"
             type="text"
             id="email">
    </div>
    <div class="password">
      <label for="password"
             class="label">
        Password
      </label>
      <input class="input"
             type="text"
             id="password">
    </div>
    <div class="repeat">
      <label for="repeat"
             class="label">
        Repeat password
      </label>
      <input class="input"
             type="text"
             id="repeat">
    </div>
  </div>
</div>
