@import "~src/assets/scss/colors";
@import "~src/assets/scss/styleClasses";


.blog_fullscreen_container {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 3rem;
  background-image: url("../../../assets/images/f_s.jpg");
  .title {
    width: 100%;
    .title_text {
      margin-top: .5rem;
      margin-bottom: 1.5rem;
      @include font(2.5rem, white);
    }
  }
  .content {
    margin-top: 2rem;
    display: grid;
    grid-column-gap: 1rem;

    box-sizing: border-box;
    .content_card {
      .content_card_image_container {
        position: relative;
        overflow: hidden;

        width: 100%;
        height: 26vw;
        .content_card_image {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          width: 100%;
          height: auto;
        }
      }
      .content_card_text_container {
        width: 100%;
        height: 6rem;

        background-color: whitesmoke;

        overflow: hidden;
        box-sizing: border-box;
        padding: 1rem;
        .content_card_text {
          margin: 0;
          line-height: 120%;
        }
      }
    }
  }
}

.blog_wellcome_container {
  width: 100%;
  box-sizing: border-box;
  padding: {
    top: 1rem;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
  };
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 2%;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "main main"
    "main main"
    "main main"
    "first first"
    "second second"
    "third third"
    "fourth fourth";

  .main {
    grid-area: main;
    .image_container {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      &:hover {
        .image_curtain {
          transform: translateY(50%);
        }
        .image_label {
          transform: translate(25%, -100%);
        }
        .image_text {
          transform: translateY(-125%);
        }
      }
      .card_image {
        position: absolute;
        z-index: 0;
      }
      .image_label {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 50%;
        top: 50%;
        transition: 500ms;
        .image_label_text {
          margin: {
            top: 1.5rem;
            bottom: 1rem;
            left: 2rem;
            right: 1rem;
          };
          @include font(2rem, whitesmoke);
        }
      }
      .image_text {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 50%;
        top: 100%;
        transition: 600ms;
        .image_text_text {
          margin: {
            top: 1.5rem;
            bottom: 2rem;
            left: 1.5rem;
            right: 1rem;
          };
          @include font(1.25rem, white);
        }
      }
      .image_curtain {
        @extend %image_curtain;
        background-image: linear-gradient(to bottom, transparent, black);
      }
    }
  }

  .card {
    position: relative;
    width: 100%;
    height: 15vw;
    overflow: hidden;

    &:hover {
      .image_curtain {
        transform: translateY(50%);
      }
    }
    &.first {
      grid-area: first;
    }
    &.second {
      grid-area: second;
    }
    &.third {
      grid-area: third;
    }
    &.fourth {
      grid-area: fourth;
    }
    .text_container {
      position: absolute;
      width: 100%;
      height: 100%;

      transition: 0.4s;
      text-overflow: ellipsis;
      box-sizing: border-box;

      padding: 1rem;

      .text_container_text {
        margin: 0;
        font-family: Arial,Helvetica,freesans,sans-serif;
        font-size: 1.125rem;
      }
    }
    .image_container {
      position: relative;
      width: 100%;
      height: 100%;
      .card_image {
        position: absolute;
        z-index: 0;
      }
      .image_curtain {
        @extend %image_curtain;
      }
    }
  }
}

.blog_picks_container {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;

  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr;

  .main {
    .main_image_container {
      width: 100%;
      height: 40vw;
      position: relative;
      overflow: hidden;

      .main_image {
        position: absolute;
        z-index: 0;
        //left: 50%;
        //transform: translateX(-50%);

        width: 100%;
        height: auto;
      }

      .main_image_curtain {
        @extend %image_curtain;
        transition: 750ms;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent, rgba(0, 0, 0, 0.3));
      }

      &:hover {
        .main_image_curtain {
          transform: scale(2);
        }
      }
    }
    .main_text_container {
      margin-top: 1rem;
      width: 100%;
      .main_text_container_label {
        width: 100%;
        box-sizing: border-box;
        border-left: .3rem solid $blog_green;

        .main_text_container_label_text {
          @include font(1.5rem, black);
          margin: 0;
          padding-left: .4375rem;
        }
      }
      .main_text_container_text {
        @include font(1rem, $blog_green_selected);
      }
    }
  }

  .side {
    .side_header {
      width: 100%;
      box-sizing: border-box;
      padding: .625rem;
      background-color: $blog_green_selected;
      .side_header_text {
        margin: 0;
        @include font(1.25rem, $blog_yellow)
      }
    }
    .side_item {
      width: 100%;
      height: 7rem;
      background-color: #cccccc;
      box-sizing: border-box;
      padding: .5rem;

      .side_item_count {
        height: 100%;
        width: 25%;

        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        .side_item_count_circle {
          width: 3rem;
          height: 3rem;
          border-radius: 3rem;
          background-color: $blog_green_selected;

          .side_item_count_number {
            margin: .5625rem 0 0 0;
            text-align: center;
            @include font(1.75rem, $blog_yellow)
          }
        }
      }
      .side_item_title {
        width: 75%;
        height: 100%;

        box-sizing: border-box;
        padding-right: 0.5rem;
        display: flex;
        align-items: center;
        float: right;
        .side_item_title_text {
          @include font(1.25rem, $blog_green_selected)
        }
      }

      &.odd {
        background-color: #bababa;
      }
      &:hover {
        .side_item_count {
          .side_item_count_circle {
            background-color: $blog_green;
          }
        }
        .side_item_title {
          .side_item_title_text {
            color: $blog_green;
          }
        }
      }
    }
  }
}

.blog_main_container {
  width: 100%;
  display: grid;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  margin-bottom: 4rem;

  .blog_card {
    background-color: whitesmoke;

    box-sizing: padding-box;
    padding: 1rem;
    text-overflow: ellipsis;

    &:hover {
      -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.75);
    }

    .blog_card_title {
      @include font(1.2rem, $blog_green);
      margin-bottom: 0.25rem;
      max-width: 100%;
    }
    .blog_card_text {
      @include font(1rem, $blog_green_selected);
      margin: 0;
      max-width: 100%;
      max-height: 4rem;
      overflow: hidden;
    }
  }
}



// Grid and display bug fix
@media only screen and (min-width: 100px) and (max-width: 600px) {
  .blog_fullscreen_container {
    padding: 2rem 2rem;
    .content {
      grid-template-columns: 1fr;
      grid-row-gap: 1.5rem;
      grid-template-rows: 1fr;
      .content_card .content_card_image_container {
        height: 65vw;
      }
    }
    .content_card_text_container {
      .content_card_text {
        @include font(1.25rem, black);
      }
    }
  }

  .blog_picks_container {
    grid-template-columns: 1fr;
    .main {
      .main_image_container {
        height: 50vw;
      }
    }
  }

  .blog_main_container {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1rem;
  }

  .card {
    .image_container {
      display: none;
    }
  }

  .text_container {
    background-color: #f0f0f0;
    border-left: 0.2rem solid $blog_green_selected;
    padding: .5rem;
    .text_container_text {
      font-size: 1.2rem;
      color: $blog_green_selected;
    }
  }
}

// TABLET

@media only screen and (min-width: 600px) and (max-width: 900px){
  .blog_fullscreen_container {
    .content {
      grid-template-columns: repeat(3, 1fr);
    }
    .content_card_text_container {
      .content_card_text {
        @include font(1.125rem, black);
      }
    }
  }

  .blog_wellcome_container {
    grid-column-gap: 2%;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "main main"
      "main main"
      "first second"
      "third fourth";

    .card_image {
      max-width: 100%;
      height: auto;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .blog_picks_container {
    grid-template-columns: 1fr;
    .main {
      .main_image_container {
        height: 50vw;
      }
    }
  }

  .card {
    .image_container {
      display: block;
    }
    .text_container {
      top: 100%;
      z-index: 2;
      background-color: transparent;
      border: none;
      .text_container_text {
        color: white;
      }
    }
    &:hover {
      .text_container {
        transform: translateY(-95%);
      }
    }
  }

  .blog_main_container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }
}

// DESKTOP

@media only screen and (min-width: 900px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog_fullscreen_container {
    .content_card_text_container {
      .content_card_text {
        @include font(1.2rem, black);
      }
    }
  }
  .blog_wellcome_container {
    grid-column-gap: 1.25%;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main main first second"
                         "main main third fourth";
    .card_image {
      max-width: unset;
      height: unset;
      top: unset;

      max-height: 100%;
      width: auto;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .card {
    .text_container {
      top: 100%;
      z-index: 2;
      background-color: transparent;
      border: none;
      .text_container_text {
        color: white;
      }
    }
    &:hover {
      .text_container {
        transform: translateY(-95%);
      }
    }
  }
  .blog_main_container {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
  }
}

