@import "~src/assets/scss/colors";
@import "~src/assets/scss/styleClasses";

@mixin font($size, $color) {
  color: $color;
  font-family: Arial,Helvetica,freesans,sans-serif;;
  font-size: $size;
}

%image_curtain {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 1.2s;
  background-image: linear-gradient(to bottom, transparent, transparent, black);
}

.blog_wellcome_container {
  width: 100%;
  box-sizing: border-box;
  padding: {
    top: 1rem;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
  };
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 2%;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "main main"
    "main main"
    "main main"
    "first first"
    "second second"
    "third third"
    "fourth fourth";

  .main {
    grid-area: main;
    .image_container {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      &:hover {
        .image_curtain {
          transform: translateY(50%);
        }
        .image_label {
          transform: translate(25%, -100%);
        }
        .image_text {
          transform: translateY(-125%);
        }
      }
      .card_image {
        position: absolute;
        z-index: 0;
      }
      .image_label {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 50%;
        top: 50%;
        transition: 500ms;
        .image_label_text {
          margin: {
            top: 1.5rem;
            bottom: 1rem;
            left: 2rem;
            right: 1rem;
          };
          @include font(2rem, whitesmoke);
        }
      }
      .image_text {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 50%;
        top: 100%;
        transition: 600ms;
        .image_text_text {
          margin: {
            top: 1.5rem;
            bottom: 2rem;
            left: 1.5rem;
            right: 1rem;
          };
          @include font(1.25rem, white);
        }
      }
      .image_curtain {
        @extend %image_curtain;
        background-image: linear-gradient(to bottom, transparent, black);
      }
    }
  }

  .card {
    position: relative;
    width: 100%;
    height: 15vw;
    overflow: hidden;

    &:hover {
      .image_curtain {
        transform: translateY(50%);
      }
    }
    &.first {
      grid-area: first;
    }
    &.second {
      grid-area: second;
    }
    &.third {
      grid-area: third;
    }
    &.fourth {
      grid-area: fourth;
    }
    .text_container {
      position: absolute;
      width: 100%;
      height: 100%;

      transition: 0.4s;
      text-overflow: ellipsis;
      box-sizing: border-box;

      padding: 1.5rem;

      .text_container_text {
        margin: 0;
        font-family: Arial,Helvetica,freesans,sans-serif;
        font-size: 1.125rem;
      }
    }
    .image_container {
      position: relative;
      width: 100%;
      height: 100%;
      .card_image {
        position: absolute;
        z-index: 0;
      }
      .image_curtain {
        @extend %image_curtain;
      }
    }
  }
}

.blog_main_container {
  width: 100%;
  display: grid;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;

  .blog_card {
    background-color: whitesmoke;

    box-sizing: padding-box;
    padding: 1rem;
    text-overflow: ellipsis;

    &:hover {
      -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.75);
    }

    .blog_card_title {
      @include font(1.2rem, $blog_green);
      margin-bottom: 0.25rem;
      max-width: 100%;
    }
    .blog_card_text {
      @include font(1rem, $blog_green_selected);
      margin: 0;
      max-width: 100%;
      max-height: 4rem;
      overflow: hidden;
    }
  }
}


// Grid and display bug fix
@media only screen and (min-width: 100px) and (max-width: 600px) {
  .card {
    .image_container {
      display: none;
    }
  }

  .text_container {
    background-color: whitesmoke;
    border-left: 0.2rem solid $blog_green_selected;
    .text_container_text {
      color: $blog_green_selected;
    }
  }

  .blog_main_container {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1rem;
  }
}

// TABLET

@media only screen and (min-width: 600px) and (max-width: 900px){
  .blog_wellcome_container {
    grid-column-gap: 2%;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "main main"
      "main main"
      "first second"
      "third fourth";

    .card_image {
      max-width: 100%;
      height: auto;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .card {
    .image_container {
      display: block;
    }
    .text_container {
      top: 100%;
      z-index: 2;
      background-color: transparent;
      border: none;
      .text_container_text {
        color: white;
      }
    }
    &:hover {
      .text_container {
        transform: translateY(-95%);
      }
    }
  }

  .blog_main_container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }
}

// DESKTOP

@media only screen and (min-width: 900px) {
  .blog_wellcome_container {
    grid-column-gap: 1.25%;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main main first second"
                         "main main third fourth";
    .card_image {
      max-width: unset;
      height: unset;
      top: unset;

      max-height: 100%;
      width: auto;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .card {
    .text_container {
      top: 100%;
      z-index: 2;
      background-color: transparent;
      border: none;
      .text_container_text {
        color: white;
      }
    }
    &:hover {
      .text_container {
        transform: translateY(-95%);
      }
    }
  }
  .blog_main_container {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
  }
}

