<app-header></app-header>


<div class="blog_fullscreen_container">
  <div class="title">
    <p class="title_text">
      Most rated articles this week:
    </p>
  </div>
  <div class="content">
    <div class="content_card">
      <div class="content_card_image_container">
        <img src="../../../assets/images/wanted.jpeg"
             alt=""
             class="content_card_image">
      </div>
      <div class="content_card_text_container">
        <p class="content_card_text">Wanted dead or alive! Reward 100 000 flurbo.</p>
      </div>
    </div>

    <div class="content_card">
      <div class="content_card_image_container">
        <img src="../../../assets/images/school.jpg"
             alt=""
             class="content_card_image">
      </div>
      <div class="content_card_text_container">
        <p class="content_card_text">School exams are coming. Discover the best way to prepare.</p>
      </div>
    </div>

    <div class="content_card">
      <div class="content_card_image_container">
        <img src="../../../assets/images/pickle.png"
             alt=""
             class="content_card_image">
      </div>
      <div class="content_card_text_container">
        <p class="content_card_text">Pickle Rick has destroyed Solenie. Who is next?</p>
      </div>
    </div>
  </div>
</div>

<div class="blog_wellcome_container">
  <div class="main">
    <div class="image_container">
      <img src="../../../assets/images/w_m_2.jpg"
           alt=""
           class="card_image">
      <div class="image_label">
        <p class="image_label_text">
          What are starts?
        </p>
      </div>
      <div class="image_text">
        <p class="image_text_text">
          A star is type of astronomical object consisting of a luminous spheroid of plasma held together by its own
          gravity. The nearest star to Earth is the Sun.
        </p>
      </div>
      <div class="image_curtain"></div>
    </div>
  </div>

  <div class="card first">
    <div class="text_container">
      <p class="text_container_text">
        Historically, the most prominent stars were grouped into constellations and asterisms, the brightest of which
        gained proper names.
      </p>
    </div>
    <div class="image_container">
      <img src="../../../assets/images/w_m_2.jpg"
           alt=""
           class="card_image">
      <div class="image_curtain"></div>
    </div>
  </div>
  <div class="card second">
    <div class="text_container">
      <p class="text_container_text">
        Historically, the most prominent stars were grouped into constellations and asterisms, the brightest of which
        gained proper names.
      </p>
    </div>
    <div class="image_container">
      <img src="../../../assets/images/w_m_2.jpg"
           alt=""
           class="card_image">
      <div class="image_curtain"></div>
    </div>
  </div>


  <div class="card third">
    <div class="text_container">
      <p class="text_container_text">
        Historically, the most prominent stars were grouped into constellations and asterisms, the brightest of which
        gained proper names.
      </p>
    </div>
    <div class="image_container">
      <img src="../../../assets/images/w_m_2.jpg"
           alt=""
           class="card_image">
      <div class="image_curtain"></div>
    </div>
  </div>
  <div class="card fourth">
    <div class="text_container">
      <p class="text_container_text">
        Historically, the most prominent stars were grouped into constellations and asterisms, the brightest of which
        gained proper names.
      </p>
    </div>
    <div class="image_container">
      <img src="../../../assets/images/w_m_2.jpg"
           alt=""
           class="card_image">
      <div class="image_curtain"></div>
    </div>
  </div>
</div>

<div class="blog_picks_container">
  <div class="main">
    <div class="main_image_container">
      <img src="../../../assets/images/ammo.png" alt="" class="main_image">
      <div class="main_image_curtain"></div>
    </div>

    <div class="main_text_container">
      <div class="main_text_container_label">
        <p class="main_text_container_label_text">
          Raise against the monsters into your kitchen!
        </p>
      </div>
      <p class="main_text_container_text" routerLink="/page">
        The Smith Family is having breakfast with Jerry's older brother, Uncle Steve, when Jerry receives an email about purchased plane tickets. Uncle Steve then admits that he bought them as a thank you to the family for letting him stay for the past year. When Rick comes into the room, he doesn't know who Uncle Steve is, and the family rebuffs him, claiming that Uncle Steve has stayed with them for the past year. Rick then pulls out a laser pistol and fatally wounds Uncle Steve who turns out to be a monstrous figure.
      </p>
    </div>
  </div>

  <div class="side">
    <div class="side_header">
      <p class="side_header_text">
        LIFEHACKS AND STORIES
      </p>
    </div>

    <div class="side_item">
      <div class="side_item_count">
        <div class="side_item_count_circle">
          <p class="side_item_count_number">
            1
          </p>
        </div>
      </div>
      <div class="side_item_title">
        <p class="side_item_title_text">
          Top ten orders Meeseeks can never execute. The way to immortality.
        </p>
      </div>
    </div>
    <div class="side_item odd">
      <div class="side_item_count">
        <div class="side_item_count_circle">
          <p class="side_item_count_number">
            2
          </p>
        </div>
      </div>
      <div class="side_item_title">
        <p class="side_item_title_text">
          Butter robot - sad story of the small invention.
        </p>
      </div>
    </div>
    <div class="side_item">
      <div class="side_item_count">
        <div class="side_item_count_circle">
          <p class="side_item_count_number">
            3
          </p>
        </div>
      </div>
      <div class="side_item_title">
        <p class="side_item_title_text">
          Charging microverse battery from our universe.
        </p>
      </div>
    </div>
    <div class="side_item odd">
      <div class="side_item_count">
        <div class="side_item_count_circle">
          <p class="side_item_count_number">
            4
          </p>
        </div>
      </div>
      <div class="side_item_title">
        <p class="side_item_title_text">
          Interdimensional Cable schedule. Never ever miss the Gazorpazorpfield
        </p>
      </div>
    </div>
    <div class="side_item">
      <div class="side_item_count">
        <div class="side_item_count_circle">
          <p class="side_item_count_number">
            5
          </p>
        </div>
      </div>
      <div class="side_item_title">
        <p class="side_item_title_text">
          Shrink ray - when the size really does matter.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="blog_main_container">
  <div class="blog_card"
       *ngFor="let text of texts">
    <img src="../../../assets/images/blog_logo.jpeg" alt=""
         class="blog_image_fluid">
    <h3 class="blog_card_title">{{text.label}}</h3>
    <p class="blog_card_text">{{text.text}}</p>
  </div>
</div>

<app-footer></app-footer>
