<div class="background">
  <div class="login_card">
    <div class="email_container">
      <input class="input"
             type="text"
             id="email">
      <label class="label"
             for="email">
        Login or email
      </label>
    </div>
    <div class="password_container">
      <input class="input"
             type="password"
             id="password">
      <label class="label"
             for="password">
        Password
      </label>
    </div>
    <div class="login_container">
      <a class="login_link"
         routerLink="/register">Register</a>
      <a class="login_link"
         routerLink="/restore">Forgot login or password?</a>
    </div>
  </div>
</div>
