<app-header></app-header>

<div class="page">
  <div class="header">
    <div class="avatar">
      <img src="../../../assets/images/a_3.png"
           alt=""
           class="avatar_image">
    </div>

    <div class="title">
      <div class="title_container">
        <p class="title_container_text">
          Shrink ray - when the size really does matter.
        </p>
      </div>
    </div>

    <div class="rate">
      <p class="rate_count">
        +42
      </p>
    </div>
  </div>

  <div class="content">
    <h1>Shrink ray</h1>
    <p>
      Rick's shrink ray was a complex device that could shrink a human down to microscopic size in the episode Anatomy Park. Rick used this to shrink Morty, so he could enter Ruben's body and save Dr. Xenon Bloom who was having difficulty with problems in Anatomy Park, located inside Ruben.
    </p>
    <img src="../../../assets/images/srink.png"
         alt="">
    <p>
      Its counterpart, a growth/enlarge ray, is located inside of Ruben in the colon, and there is an additional enlarge ray on Rick's spaceship.
    </p>
  </div>
</div>



