<div class="footer">
  <div class="brand">
    <div class="brand_text">
      Rick and Morty
    </div>
  </div>
  <div class="pages">
    <p class="pages_title">Official pages:</p>
    <a href="https://en.wikipedia.org/wiki/Rick_and_Morty"
       class="pages_link">Wikipedia</a>
    <a href="https://rickandmorty.fandom.com/wiki/Rickipedia"
       class="pages_link">Fandom wiki</a>
  </div>
  <div class="account">
    <p class="account_text">Sign in</p>
    <p class="account_text">Log in</p>
  </div>
  <div class="follow">
    <p class="follow_text">
      Follow us:
    </p>
    <div class="social_panel">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
  </div>
  <div class="rights">
    <p class="rights_text">
      All the images are used only for study purpose.  2019 Rick and Morty, LLC. © All rights reserved
    </p>
  </div>
</div>
